<div class="row ">
  <div class="col-md-4">
    <button type="button" v-on:click="getOrders" class="btn btn-primary" data-toggle="modal" data-target="#showOrderModal">Show
      orders</button>
  </div>
  <div class="col-md-4">
    <button type="button" v-on:click="getPromoCodes" class="btn btn-primary" data-toggle="modal" data-target="#showPromoCodes">Valid
      promo codes</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary button" data-toggle="modal" data-target="#readMeModal">README</button>
  </div>
</div>